<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryajax")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/smoothness/jquery-ui.css">
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home page", "Index", "Home")</li>

                    @{
                        if(User.Identity.IsAuthenticated)
                        {
                            switch(Roles.GetRolesForUser()[0])
                            {
                                case "Administrator": <li>@Html.ActionLink("Administrator users", "Administrator_Users", "Administrator")</li>
                                                      <li>@Html.ActionLink("Administrator customers", "Administrator_customers", "Administrator")</li>
                                    break;
                                case "Agent": <li>@Html.ActionLink("Agent page", "Index", "Agent")</li> 
                                    break;
                                case "Archivist": <li>@Html.ActionLink("Archivist page", "Index", "Archivist")</li>
                                    break;
                                case "Dispatcher": <li>@Html.ActionLink("Dispatcher page", "Index", "Dispatcher")</li>
                                    break;
                            }
                        }
                    }
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <li class="user">Welcome, @User.Identity.Name (@Roles.GetRolesForUser()[0])</li>
                            <li class="login"><span class="btn btn-danger">@Html.ActionLink("Logout", "Logout", "Account")</span></li>
                        }
                        else
                        {
                            <li class="login"><span class="btn btn-danger">@Html.ActionLink("Login", "Login", "Account")</span></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Request Processing System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    

   
    
</body>
</html>
