@using RPS.ValidationModels
@model CallValidation


@using (@Ajax.BeginForm("ReplyCall", "Agent", new AjaxOptions() { OnBegin = "Aler()", OnFailure = "Aler()", OnSuccess = "Aler()", UpdateTargetId = "Reply", InsertionMode = InsertionMode.InsertBefore }))
{
    <h1 class="text" id="adding-form-header">Reply to the client!</h1>
    //<p id="product-validation-string">@Model.ModelError</p>
    <table>
        <tr>
            <td>
                <p class="text">Customer name: </p>
            </td>
            <td>
                <input type="text" id="CustName" />
                @Html.HiddenFor(m => m.id, new { id = "id" })


            </td>
        </tr>
        <tr>
            <td>
                <p class="text">Call text:</p>
            </td>
            <td>
                @Html.TextBoxFor(m => m.CallText, new { id = "CallText" })

            </td>
        </tr>
        <tr>
            <td>
                <p class="text">Answer: </p>
            </td>
            <td>
                @Html.TextBoxFor(m => m.Reason, new { id = "Reason" })


            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="add-button" value="Add product" />
            </td>
        </tr>
    </table>

}
<script>
    function Aler() {
        console.log("sd");
        alert("asd");
    }
</script>