@using RPS.ValidationModels
@model CallValidation


@{
    ViewBag.Title = "Agent page";
}
<script src="~/Scripts/RoleScripts/AgentFunctionality.js"></script>

<div class="Reply" >
    @using (@Ajax.BeginForm("ReplyCall", "Agent", new AjaxOptions() { OnFailure = "reloadJQGrid()", OnSuccess = "reloadJQGrid()", UpdateTargetId = "add-item", InsertionMode = InsertionMode.Replace }))
    {
        <h1 class="text" id="adding-form-header">Add new Product!</h1>
        //<p id="product-validation-string">@Model.ModelError</p>
        <table>
            <tr>
                <td>
                    <p class="text">name</p>
                    @Html.TextBoxFor(m => m.Customer, new { id = "custId" })
                    @Html.ValidationMessageFor(m => m.Customer)
                </td>
                <td>
                    <p class="text">price</p>
                    @Html.TextBoxFor(m => m.Agent, new { id = "text-field" })
                    @Html.ValidationMessageFor(m => m.Agent)
                </td>
                <td>
                    <input type="submit" id="add-button" value="Add product" />
                </td>
            </tr>
        </table>
    }
</div>




<h2>Index</h2>
<table id="jqgAgent"></table>
<div id="pager"></div>
<div class="callInfo">
    
    <input id="callText" type="text" name="callText" readonly/>
    <input id="callDateCreated" type="text" readonly/>
    <input id="callCustName" type="text" readonly/>
    <input id="callCustSur" type="text" readonly/>

</div>

<datalist id="languages">
    <option value="HTML">
    <option value="CSS">
    <option value="JavaScript">
    <option value="Java">
    <option value="Ruby">
    <option value="PHP">
    <option value="Go">
    <option value="Erlang">
    <option value="Python">
    <option value="C">
    <option value="C#">
    <option value="C++">
</datalist>
<input type="text" list="languages" />